
/* For Registration Form */
.registration_header{
    border-radius: 10px 10px 0 0;
}

.registration_form{
    border-radius: 0 0 10px 10px;
}
/* ----------------------------- */

/* For Login Form */

.login_header{
    border-radius: 10px 10px 0 0;
}

.login_form{
    border-radius: 0 0 10px 10px;
}   